@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import "tailwindcss";

body{
    background-color: #fefcf5;
    overflow-x: hidden;
}

.clip{
    clip-path: inset(0 0 100% 0);
}

<<<<<<< HEAD
@theme{
  --font-philosopher: "Philosopher", sans-serif;
=======
* {
  font-family: "Belleza", sans-serif;
  color: #333333;
>>>>>>> 6596ab912bf857b609c5812d967bd43f7b019316
}